# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Here are some of the key takeaways from the course.

**Objectives:**
- List popular Data Science languages
- List libraries that Data Scientists commonly use
- List Data Science Tools

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia

Some of the commonly used libraries used by Data Scientists include:
 1. Numpy
 2. Pandas
 3. Matplotlib

|Data Science Tools|
|----|
|JupyterLab|
|Rstudio|
|Visual Studio Code|

### Below are a few examples of evaluating arithmetic expressions in Python

In [9]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [10]:
#This will convert 200 minutes to hours by diving by 60
minutes = 200
minutes/60

3.3333333333333335

## Author
Adrian Grimm